@import '~antd/dist/antd.css';

.App {
  padding: 40px;
  background-color: #A9A9A9;
  height: 100vh;
  overflow: hidden;
  transition: ease all .3s;
}

.score-list {
  background-color: #FFFFFF;
  border-radius: 10px;
  max-height: 100%;
  overflow: auto;
  transition: ease all .3s;
}

.ant-list-item {
  padding-left: 20px;
  padding-right: 15px;
  transition: ease all .3s;
}

@media only screen and (max-width: 400px) {
  .App {
    padding: 0px;
  }
  .score-list {
    border-radius: 0px;
  }

  .rank-avatar {
    transform: translate(30px, 15px) scale(50%);
    border: 1px solid #c2d3ff;
  }
  .ant-list-item-meta-avatar {
    width: 0;
  }
  .ant-list-item {
    padding-left: 5px !important;
  }
}
